	::selection{ background-color		: #E13300; color: white; }
	::moz-selection{ background-color	: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color	: #fff;
		margin				: 1px;
		color				: #4F5155;
		border 				: 0px solid red;
	}

	a {
		color				: white;
		background-color	: transparent;
		font-weight			: normal;
		text-decoration		: none;
	}

	a.satu {
		color				: #FFBB33;
	}

	h1 {
		font-family			: Segoe UI Light;
		color				: #444;
		background-color	: transparent;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 40px;
		font-weight			: normal;
		text-align			: center;
		margin				: 10px 0 0 0;
		padding				: 0 0 0 0;
	}
	
	h1.satu {
		font-family			: Segoe UI Light;
		color				: #444;
		background-color	: transparent;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 72px;
		font-weight			: bold;
		text-align			: center;
		margin				: 10px 0 0 0;
		padding				: 0 0 0 0;
	}
	
	h1.dua {
		font-family			: Segoe UI Light;
		color				: #444;
		background-color	: transparent;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 45px;
		font-weight			: normal;
		text-align			: center;
		margin				: 0 0 10px 0;
		padding				: 0 0 0 0;
	}
	
	h1.tiga {
		color				: white;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 125px;
		font-weight			: normal;
		text-align			: center;
		margin				: 0 0 0 0;
		padding				: 150px 0 0 0;
	}
	
	h1.empat {
		color				: white;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 75px;
		font-weight			: normal;
		text-align			: center;
		margin				: 0 0 0 0;
		padding				: 125px 0 0 0;
	}
	
	h1.lima {
		color				: white;
		border-bottom		: 0px solid #D0D0D0;
		font-size			: 125px;
		font-weight			: normal;
		text-align			: center;
		margin				: 0 0 0 0;
		padding				: 300px 0 0 0;
	}
	
	h2 {
		font-family 		: Segoe UI Light;
		color				: #FFBB33;
		margin				: 15px 0 0 10px;
	}
	
	h2.satu {
		font-family 		: Segoe UI Light;
		font-size			: 50px;
		color				: black;
		margin				: 15px 0 20px 10px;
		text-align			: center;
	}
	
	h2.dua {
		font-family 		: Segoe UI Light;
		font-size			: 25px;
		color				: black;
		margin				: 15px 0 5px 330px;
		text-align			: left;
	}
	
	h2.tiga {
		font-family 		: Segoe UI Light;
		font-size			: 18px;
		color				: black;
		margin-left			: 330px;
	}

	.text {
		width				: 200px;
		height				: 200px;
		background			: #FFF;
		opacity				: 0;
	}
	
	img.displayed{
					
		display				: inline;
		height				: 200px;
		width				: 200px;
		margin				: 25px 0 0 25px;
	}
	
	img.displayed_2{
		width				: 450px;
		height				: 300px;
	}
	
	img.displayed_3{
		display				: inline;
		width				: 100%;
		height				: 100%;
	}
	
	img.header{
		display				: inline;
		width				: 34%;
		height				: 90%;
	}
	
		
	p {
		font-family			: Segoe UI Light;
		text-align			: center;
		margin				: 10px 0 0 0; <!---->
	}
	
	p.satu {
		font				: Segoe UI;
		font-size			: 25px;
		text-align			: justify;
		margin				: 40px 180px 60px 180px;
	}
	
	p.dua {
		font-family			: Segoe UI Light;
		color				: black;
		font-size			: 42px;
		text-align			: left;
		margin				: 35px 10px 0 30px;
	}
	
	p.tiga {
		font-family			: Segoe UI Light;
		color				: black;
		font-size			: 45px;
		text-align			: left;
		margin				: 0 0 0 30px;
	}
	
	p.empat {
		font-family			: Segoe UI Light;
		color				: white;
		font-size			: 30px;
		text-align			: left;
		margin				: 15px 0 0 65px;
	}
	
	#imageHome{
		
		background 			: url('img/01 - Home.png') no-repeat;
		background-size		: 75% 85%;
		background-position : center;
		width 				: 100%;
		height 				: 500px;
		border				: 0px solid blue;
		
	}
	
	#container{
		background 			: url('img/Batu Karas Pangandaran.jpg') no-repeat;
		background-size 	: 100% 100%;
		width 				: 100%;
		height 				: 1000px;
		border				: 0px solid red;
		-webkit-box-shadow	: 0 0 8px #D0D0D0;
	}
	
	#container2{
		
		margin				: 10px;
		border				: 1px solid red;
		-webkit-box-shadow	: 0 0 8px #D0D0D0;
	}
	
	code {
		font-family			: Segoe UI Light;
		font-size			: 20px;	
		background-color	: #4D4D4D;
		border				: 0px solid red;
		color				: #002166;
		display				: block;
		padding				: 12px 10px 12px 10px;
	}
	
	code2 {
		
		background 			: url('img/02 - Logo_Sunda_Beach.png') no-repeat;
		background-size		: 50% 100%;
		background-position : left;
		width				: auto;
		height				: 30px;
		font-family			: Consolas, Monaco, Courier New, Courier, monospace;		
		background-color	: white;
		border				: 0px solid red;
		color				: #002166;
		display				: block;
		padding				: 12px 10px 12px 10px;
	}
	
	#wadahButton{
		
		width				: auto;
		height				: 250px;
		border				: 0px solid red;
	}
	
	#button{
		
		margin-left			: 150px;
		float				: left;
		width				: 250px;
		height				: 100%;
		border				: 0px solid red;
	}
	
	#services{
		background 			: url('img/Service_Logo.png') no-repeat;
		background-size		: 40% 100%;
		background-position : center;
		width				: auto;
		height				: 100px;
		margin				: 50px;
		border				: 0px solid red;
	}
	
	#serviceImage{
		background-size		: 100% 100%;
		background-position : center;
		width				: auto;
		height				: 800px;
		margin				: 1px;
		border				: 0px solid red;
	
	}
	
	#containerService{
		margin				: 10px;
		width				: 35%;
		height				: 100%;
		border				: 0px solid red;
	}
	
	#buttonService{
		
		padding				: 50% 0% 0 25%;
		float				: left;
		width				: 250px;
		height				: 100%;
		border				: 0px solid red;
	}
	
	#custom{
		clear				: both;
		background 			: url('img/Custom_Logo.png') no-repeat;
		background-size		: 40% 100%;
		background-position : center;
		width				: auto;
		height				: 100px;
		margin				: 50px 0 50px 0;
		border				: 1px solid red;
	}
	
	#customImage{
		clear				: both;
		background 			: url('img/g3936.png') no-repeat;
		background-size		: 100% 100%;
		width				: auto;
		height				: 750px;
		border				: 0px solid red;
	
	}
	
	#customImageMenu{
		clear				: both;
		background 			: url('img/g3028.png') no-repeat;
		background-size		: 100% 100%;
		width				: auto;
		height				: 750px;
		border				: 0px solid red;
	
	}
	
	#customContainerText{
		clear				: both;
		width				: auto;
		height				: 200px;
		border				: 0px solid red;
		padding				: 40px 0 40px 75px;
	}
	
		
	#customText{
		
		float				: left;
		width				: 50%;
		height				: 175px;
		border-left			: 3px solid #FFBB33;
		margin				: 10px 0 0 0;
	}
	
	#stories{
	
		background 			: url('img/g3027.png') no-repeat;
		background-size		: 45% 100%;
		background-position : center;
		width				: auto;
		height				: 100px;
		margin				: 40px;
		border				: 0px solid red;
	}
	
	#storiesImage{
		background 			: url('img/g3852.png') no-repeat;
		background-size		: 100% 100%;
		width				: auto;
		height				: 400px;
		margin				: 1px;
		border				: 0px solid red;
	
	}
	
	#isiStories{
		width				: auto;
		height				: 200px;
		border				: 1px solid red;
	}
	
	#riverside{
		background 			: ;
		background-size		: 100% 100%;
		width				: auto;
		height				: 400px;
		margin				: 1px;
		border				: 1px solid red;
	
	}
	
	#containerSubs{
		clear				: both;
		background-color	: #4D4D4D;
		background-size		: 100%;
		width				: auto;
		height				: 500px;
		margin				: 1px;
		border				: 0px solid red;
	}
	
	#subs{
		clear				: both;
		background-size		: 100%;
		width				: auto;
		height				: 200px;
		margin				: 1px;
		border				: 0px solid cyan;
	}
	
	#formSubs{
		
		float				: left;
		width				: auto;
		height				: auto;
		border				: 0px solid yellow;
	}
	
	#formSubsKanan{
		
		float				: right;
		width				: 49%;
		height				: 200px;
		border-left			: 3px solid #FFBB33;
	}
	
	#body{
		margin				: 0 15px 0 15px;
	}
	
	p.footer{
		text-align			: right;
		font-size			: 11px;
		border-top			: 0px solid red;
		line-height			: 32px;
		padding				: 0 10px 0 10px;
		margin				: 20px 0 0 0;
	}
	
	nav ul {
	
		margin				:0; 
		padding				:0;
		
	
	}
	nav ul li {
		
		display				:inline-block; 
		margin				:5px;
		text-decoration		:none;
		text-color			:white;
	}
	
	footer {
		
		float				: left;
		background-color 	: black;
		width 				: 100%;
		height 				: 300px;
		border				: 0px solid red;
		-webkit-box-shadow	: 0 0 8px #D0D0D0;
	}
	
	footerLagi {
		
		float				: right;
		width 				: 50%;
		height 				: 300px;
		border				: 0px solid red;
		-webkit-box-shadow	: 0 0 8px #D0D0D0;
	}
	
	.form2 {	
		clear				: both;
		width				: auto;
		height				: auto;
		box-shadow			: 0px 0px 0px #000;
		border				: 1px solid green;
	}
	
	.form2 input[type = "text"]{
		
		font-family 		: Segoe UI Light;
		font-size			: 25px;
		width				: 650px;
		height				: auto;
		padding				: 10px;
		border				: 3px solid #FFBB33;
		text-align			: center;
		background			: #fff;
		border-radius		: 10px;
	}
	
	.form2 input[type = "number"]{
		
		font-family 		: Segoe UI Light;
		font-size			: 25px;
		width				: 200px;
		height				: auto;
		padding				: 10px;
		border				: 3px solid #FFBB33;
		text-align			: center;
		background			: #fff;
		border-radius		: 10px;
	}
	
	.form2 input[type = "date"]{
		
		font-family 		: Segoe UI Light;
		font-size			: 25px;
		width				: 225px;
		height				: auto;
		padding				: 10px;
		border				: 3px solid #FFBB33;
		text-align			: center;
		background			: #fff;
		border-radius		: 10px;
	}
	
	
	.form2 textarea{
		
		font-family 		: Segoe UI Light;
		font-size			: 25px;
		width				: 650px;
		height				: auto;
		padding				: 10px;
		border				: 3px solid #FFBB33;
		text-align			: left;
		background			: #fff;
		border-radius		: 10px;
	}
	
	#email {
		font-size			: 25px;
		font-family 		: Segoe UI Light;
		width				: 650px;
		height				: auto;
		padding				: 10px;
		border				: 3px solid #FFBB33;
		text-align			: center;
		background			: #fff;
		border-radius		: 10px;
	}
	
	.form2 input[type = "submit"]{
		font-size			: 25px;
		font-family 		: Segoe UI Light;
		width				: 300px;
		height				: 50px;
		background			: #FFBB33; 
		border				: 3px solid #FFBB33;
		padding				: 5px 10px;
		border-radius		: 3px;
		font-weight			: bold;
		margin-top			: 5px;
	}
	
	.wrap{
		
		width				: auto;
		height				: auto;
		margin-left			: 300px;
		border-radius		: 5px;
		box-shadow			: 0px 0px 0px #000;
		border				: 0px solid blue;
	}
	
	.wrap .head{
		width				: 330px;
		height				: auto;
		padding				: 10px;
		font-size			: 19px;
		color				: #333;
		float				: left;
		font-weight			: bold;
		text-align			: center;
		border-bottom		: 0px solid #DBDCD6;
	}
	
	.wrap .form{
		width				: 330px;
		height				: auto;
		padding				: 20px 10px;
		text-align			: center;
		border				: 0px solid red;
	}
	
	.wrap .form form{
		margin				: 0;
		color				: #555;
		font-weight			: bold;
	}
	
	.wrap .form input[type="text"],.form input[type="email"],.wrap .form input[type="password"]{
		font-family 		: Segoe UI Light;
		font-size			: 15px;
		font-weight			: bold;
		width				: 300px;
		height				: auto;
		padding				: 10px;
		border				: 1px solid #ccc;
		text-align			: center;
		background			: #fff;
		box-shadow			: inset 0px 3px 5px #CBCCC4;
		border-radius		: 5px;
	}
	
	.wrap .form input[type="text"]:focus,.wrap .form input[type="password"]:focus{
		width				: 300px;
		height				: auto;
		padding				: 10px;
		border				: 1px solid #BCBCBC;
		text-align			: center;
		outline				: none;
		box-shadow			: inset 0px 3px 5px #999C8B;
		background			: #fff;
	}
	
	.wrap .form input[type="submit"]{
		
		font-family 		: Segoe UI Light;
		font-size			: 18px;
		font-weight			: bold;
		width				: 320px;
		height				: auto;
		background-color	: black; 
		border				: 0px solid #BFC1B7;
		padding				: 5px 10px;
		border-radius		: 5px;
		color				: grey;
		font-weight			: bold;
		margin-top			: 5px;
	}
	
	.wrap .form input[type="submit"]:hover{
	
		color				: #FFD500;
		cursor				: pointer;
		box-shadow			: 0px 0px 7px #AAE8F4;
	}
	
	.wrap .footer{
		width				: 330px;
		height				: auto;
		padding				: 8px 10px;
		font-size			: 11px;
		color				: #333;
		float				: left;
		background			: #EFF0EC;
		text-align			: center;
		border-top			: 0px solid #fff;
	}
	
	#imageheader{
		text-align			: center;
		clear				: both;
		width 				: auto;
		height 				: 150px;
		border				: 0px solid red;
		padding				: 5px 0 0 0;
	}
	
	#contactContainer{
		
		background			: white;
		width				: auto;
		height				: auto;
		border				: 0px solid red;
		padding				: 0 0 20px 0;
	}
	
	#contactContainer_2{
		
		background			: #E5E5E5;
		color				: #808080;
		width				: auto;
		height				: auto;
		border				: 0px solid red;
		padding				: 20px 0 40px 0;
	}
	
	#contactContainer_3{
		
		background			: white;
		width				: auto;
		height				: auto;
		border				: 0px solid red;
		padding				: 20px 0 40px 0;
	}
	
	#serviceContainer {
	
		width				: auto;
		height				: auto;
		border				: 0px solid red;
	}
	
	#serviceImageContainer {
		
		float				: left;
		background			: white;
		width				: 450px;
		height				: 300px;
		border				: 0px solid red;
		margin				: 30px 0 30px 50px;
	}
		
	#serviceImageContainer_2 {
		
		float				: right;
		background			: white;
		width				: 450px;
		height				: 300px;
		border				: 0px solid red;
		margin				: 30px 50px 30px 0;
	}
	
	#serviceTextContainerKiri {
		
		float				: left;
		width				: 79%;
		height				: auto;
		border				: 0px solid yellow;
		clear				: both;
	}
	
	#serviceTextContainerKanan {
	
		float				: right;
		width				: 20%;
		height				: 650px;
		border-left			: 3px solid #FFBB33;
		margin				: 30px 10px 0 0;
	}
	
	#serviceReservationFormContainer{
		width				: auto;
		height				: auto;
		border				: 1px solid yellow;
		clear				: both;
		margin				: 0 0 15px 0;
	}
